* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1 { font-weight: 300; }
h3 {
     font-weight: 100;
}

@font-face {
    font-family: 'Drawing Guides';
    src: url('../font/DrawingGuides.ttf') format('truetype');
}
@font-face {
    font-family: 'EraserDust';
    src: url('../font/EraserDust.ttf') format('truetype');
}
@font-face {
    font-family: 'EraserRegular';
    src: url('../font/EraserRegular.ttf') format('truetype');
}
h1 { 
    font-family: 'EraserDust',serif;
    color:white
}

h3 { 
    font-family:'EraserDust',serif;
    color: white;
}

form {
	width: 100%;
	margin: 1em auto;
	padding: 1em 2em 2em 2em;
	background: rgba(255,255,255,0.7);
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}


/* Button

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers 

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
    font-family: 'EraserDust',serif;
	color: white;
	font-size: 18px;
	letter-spacing: .4px;
}


footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}


footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }



div.m-modals {
	background-color: rgba( 0, 0, 0, 0.8 ) ;
	bottom: 0px ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
}

div.m-modals.ng-hide {
	background-color: rgba( 0, 0, 0, 0 );
}

div.m-modals.ng-hide-add.ng-hide-add-active,
div.m-modals.ng-hide-remove.ng-hide-remove-active {
	transition: 250ms ease all ;
}

div.m-modals > .modal {
	background-color: #FAFAFA ;
	border-radius: 3px 3px 3px 3px ;
	box-sizing: border-box ;
		-moz-box-sizing: border-box ;
	padding: 20px 20px 20px 20px ;
	position: fixed ;
	left: 50% ;
	margin-left: -200px ;
	top: 200px ;
	width: 400px ;
}
div div p a[ ng-click ] {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
}

div.m-modals.ng-hide > .modal.ng-enter {
	top: -200px ;
	transition: 250ms ease top ;
}

div.m-modals.ng-hide > .modal.ng-enter.ng-enter-active {
	top: 200px ;
}

a.jump {
	color: #999999 ;
}

a.jump:hover {
	background-color: gold ;
	color: #000000 ;
}


/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
