<div class="row col s12 m12 l12">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

                <md-tab label="Operaciones" ng-disabled="tab0Ban">
                    <md-content class="md-padding">
                        <div layout="column" ng-cloak class="md-inline-form">
                            <md-content class="row" style="width:100%;" layout-padding>
                                <div class="row col s12 m12 l12">
                                    <div class="row" style="height:110px;"></div>
                                </div>
                                <div class="row col s12 m12 l12">
                                    <div style="height:110px;" class="col s4 m4 l4">
                                        <div class="feature">
                                            <md-icon md-svg-src="../Images/icon/add-3.svg" id="imgAlta" ng-click="SeleccionarAccion($event)" style="width:100px; height:100px;" class="rotate" aria-label="android "></md-icon>
                                            <div class="feature-content">
                                                <h4>Agregar</h4>
                                                <p>Crea una nueva Institución Bancaria.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <div class="feature">
                                            <md-icon md-svg-src="../Images/icon/edit-1.svg" id="imgMod" ng-click="SeleccionarAccion($event)" style="width:100px; height:100px;" class="rotate" aria-label="android "></md-icon>
                                            <div class="feature-content">
                                                <h4>Editar</h4>
                                                <p>Modifica algún Banco existente.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <div class="feature">
                                            <!--<i class="fa fa-eraser"></i>-->
                                            <md-icon md-svg-src="../Images/icon/trash.svg" id="imgBaja" ng-click="SeleccionarAccion($event)" style="width:100px; height:100px;" class="rotate" aria-label="android "></md-icon>
                                            <div class="feature-content">
                                                <h4>Eliminar</h4>
                                                <p>Descarta alguna Institución Bancaria.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col s12 m12 l12">
                                </div>
                            </md-content>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Datos" ng-disabled="tab1Ban">
                    <md-content class="md-padding">
                        <div layout="column" ng-cloak class="md-inline-form">
                            <md-content class="row" layout-padding>
                                <div class="row col s12 m12 l12">
                                    <div style="height:110px;" class="col s4 m4 l4">
                                        <br />
                                    </div>
                                    <div class="col s4 m4 l4">
                                            <md-input-container ng-hide="vsSelBanco" class="md-block">
                                                <label>Banco</label>
                                                <md-select ng-model="Banco.dataId" ng-change="CambioBanco()">
                                                    <md-option ng-repeat="banco in ComboBanco" value="{{banco.dataId}}">
                                                        {{banco.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <br />
                                    </div>
                                </div>
                                <div class="row col s12 m12 l12">
                                    <div style="height:110px;" class="col s4 m4 l4">
                                        <md-input-container>
                                            <label>Nombre</label>
                                            <input ng-model="Banco.name" ng-disabled="elemInactivo" ng-change="showWarn(Banco.name)"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <md-input-container>
                                            <label>Identificador del Banco</label>
                                            <input ng-model="Banco.atributeId" ng-disabled="elemInactivo" ng-change="showWarn(Banco.atributeId)"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <br />
                                    </div>
                                </div>
                                <div style="height:110px;" class="row col s12 m12 l12">

                                </div>
                                <div class="row col s12 m12 l12">
                                    <div style="height:110px;" class="col s4 m4 l4">
                                        <div>
                                            <md-button class="md-raised" ng-click="Regresar()">Atrás</md-button>
                                        </div>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <div><br /></div>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <div class="row page-title">
                                            <md-button class="md-raised" ng-click="confirmar($event)">{{boton}}</md-button>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>